$primary-color: #FFC940;
$font-14px:87.5%;
$font-18px:112.5%;
$font-20px:125%;
$font-24px:150%;
$font-30px:187.5%;
$font-40px:250%;
$font-50px:312.5%;
$font-60px:375%;

@for $box from 1 through 12{
    .col-#{$box}{
        --num: calc(12 / #{$box});
        width: calc(100% / var(--num));
    }
}

@media screen and (min-width:768px){
    @for $box from 1 through 12{
        .col-md-#{$box}{
            --num: calc(12 / #{$box});
            width: calc(100% / var(--num));
        }
    } 
}

@media screen and (min-width:992px){
    @for $box from 1 through 12{
        .col-lg-#{$box}{
            --num: calc(12 / #{$box});
            width: calc(100% / var(--num));
        }
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-image: url("../images/background.png");
    font-size: 16px;

    &.open{
        overflow: hidden;
    }
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1640px;
}

.close{
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;

    &::after,&::before{
        content: "";
        display: block;
        position: absolute;
        width: 25px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        top: 50%;
        left: 50%;
    }

    &::after{
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::before{
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.lightInput{
    background-color: #FCF2D0;
    border: none;
    box-shadow: inset 2px 2px 2px #EDAC4C, inset -2px -2px 2px #ffdf6b;
}

.lightYellowShadow{
    box-shadow: 2px 2px 2px #EDAC4C, -2px -2px 2px #ffdf6b;
    background-color: #FCF2D0;
    color:#CA6100;
}

.button{
    display: block;
    letter-spacing: 1px;
    border-radius: 20px;

    &:hover{
        background-color: #DD974E;
        color: #fff;
    }
}

.inputYellow{
    color:#CA6100;
    outline: none;
    border:none;

    &::placeholder{
        color:#DD974E;
        border: none;
    }
}

.greenInput{
    background-color: #E1F1DD;
    border: none;
    box-shadow: inset 2px 2px 2px #90a368, inset -2px -2px 2px #f0ffeb;
}

.imgHidden{
    overflow: hidden;
}

header{
    background-color: $primary-color;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 3;
    box-shadow: 0px 2px 4px #edad4c;

    >#navbar{
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        transform: translateY(-50%);
        top: 50%;
        padding: 0 20px;
    }
}

.logo{
    height: auto;

    img{
        vertical-align: middle;
        line-height: 100px;
        margin-right: 10px;
    }


    >img:nth-child(1){
        display: inline;
        width: 50px;
        height: auto;
    }

    >img:nth-child(2){
        display: none;
        width: 170px;
        height: auto;

        @media screen and (min-width:992px){
            display: inline;
        }
    }

}

header>#navbar>#navbarRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;

    @media screen and (min-width:768px){
        justify-content: space-between;
    }

    >div{
        display: none;

        @media screen and (min-width:768px){
            position: relative;
            display: block;
            width: calc((100% - 296px) / 2);
    
            >input[type=text]{
                width: 100%;
                border-radius: 20px;
                text-align: right;
                font-size: $font-18px;
                font-weight: bold;
                padding-top: 8px;
                padding-right: 15px;
                padding-bottom: 8px;
            }
    
            &::before{
                content: "";
                position: absolute;
                display: block;
                top: calc(50% + 1px);
                left: 15px;
                transform: translateY(-50%);
            }
    
            &:nth-of-type(1)::before{
                height: 23px;
                width: 17px;
                background-image: url("../images/map_icon.png");
            }
    
            &:nth-of-type(2)::before{
                height: 24px;
                width: 24px;
                background-image: url("../images/search_icon.png");
            }
        }
    }

    

    >.buttonList{
        display: flex;
        align-items: center;
        justify-content: space-between;

        >li:nth-child(1), >li:nth-child(2){
            display: none;

            @media screen and (min-width:768px){
                display: block;
            }
        }

        .button{
            font-size: $font-18px;
            font-weight: bold;
            border-radius: 20px;
            padding: 5px 20px;
            margin-right: 15px;

            &:hover{
                background-color: #DD974E;
                color: #fff;
            }
        }

        #burger{
            display: block;
            position: relative;
            width: 35px;
            height: 35px;
            background-color: #FCF2D0;
            border-radius: 7px;

            &::after, &::before{
                content: "";
                display: block;
                position: absolute;
                width: 15px;
                height: 2px;
                background-color: #CA6100;
                border-radius: 7px;
                transform: translateX(-50%);
                left: 50%;
            }

            &::after{
                top: 10px;
                box-shadow: 0 6px 0 #CA6100;
            }

            &::before{
                top: 22px;
            }

            &:hover{
                background-color: #DD974E;

                &::after, &::before{
                    background-color: #fff;
                }

                &::after{
                    box-shadow: 0 6px 0 #fff;
                }
            }
        }
    }
}
    
#sideMenu {
    position: absolute;
    background-color: #6CBE83;
    width: 100%;
    top: 0;
    right: calc(-100% - 10px);
    height: 100vh;
    box-shadow: -5px 0 5px #8080807a;
    transition: right .5s ease-out;
    z-index: 10;

    @media screen and (min-width:768px){
        width: 300px;
        right: -310px;
    }

    &.active{
        right: 0;
    }
}

#sideMenu .imgwrap{
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto 30px;

    img{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.listwrap{
    height: calc(100vh - 210px);
    background-color: #E1F1DD;
    padding: 10px 0;
}

.inputwrap {
    position: relative;
    padding:15px 35px 15px 80px;

    input[type=text]{
        width: calc(100% - 15px);
        border-radius: 20px;
        font-size: $font-18px;
        font-weight: bold;
        color: #304D1D;
        padding: 7px 15px 5px;
        outline: none;

        &::placeholder{
            color:#738f62;
            border: none;
        }
    }

    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 35px;
        transform: translateY(-50%);
    }

    &:nth-of-type(1)::before{
        height: 23px;
        width: 17px;
        background-image: url("../images/green-map.svg");
    }

    &:nth-of-type(2)::before{
        height: 24px;
        width: 24px;
        background-image: url("../images/green-search.svg");
    }
}

.sideList{   
    li{
        a{
            position: relative;
            display: block;
            color:#304D1D;
            font-size: $font-18px;
            font-weight: bold;
            padding: 15px 35px 15px 80px;

            &::after{
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 35px;
                width: 25px;
                height: 25px;
                transform: translateY(-50%);
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &:nth-child(1) a::after{
            background-image: url("../images/member.svg");
        }

        &:nth-child(2) a::after{
            background-image: url("../images/register.svg");
        }

        &:nth-child(3) a::after{
            background-image: url("../images/Love.png");
        }

        &:nth-child(4) a::after{
            background-image: url("../images/PurchaseOrder.png");
        }

        &:nth-child(5) a::after{
            background-image: url("../images/Wallet.png");
        }

        &:nth-child(6) a::after{
            background-image: url("../images/Help.png");
        }

        &:hover{
            background-color: #304D1D;

            a{
                color: #fff;
            
            }

            &:nth-child(1) a::after{
                background-image: url("../images/memberHover.svg");
            }
    
            &:nth-child(2) a::after{
                background-image: url("../images/registerHover.svg");
            }

            &:nth-child(3) a::after{
                background-image: url("../images/LoveHover.png");
            }
    
            &:nth-child(4) a::after{
                background-image: url("../images/PurchaseOrderHover.png");
            }
    
            &:nth-child(5) a::after{
                background-image: url("../images/WalletHover.png");
            }
    
            &:nth-child(6) a::after{
                background-image: url("../images/HelpHover.png");
            }
        }
    }
}

.sm-block{
    display: block;

    @media screen and (min-width:768px){
        display: none;
    }
}

#login{
    display: none;
    

    &.open{
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: #FFC940;

        @media screen and (min-width:768px){
            background-color: rgba(0, 0, 0,0.5);
        }
    }

    .close{
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.loginPopup{
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center; 
    font-weight: bold;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFC940;
    box-shadow: none;
    padding: 60px 10px 0;

    @media screen and (min-width:460px){
        padding: 60px 50px 0;
    }

    @media screen and (min-width:768px){
        width: auto;
        height: auto;
        min-width: 525px;
        border-radius: 15px;
        top: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 60px;
    }

    h2{
        color: #fff;
        margin-bottom: 30px;
        text-align: center;
    }

    >div{

        &:nth-of-type(2){
            margin-bottom: 30px;
        }

        label{
            font-weight: bold;
        }
    }

    >a:nth-of-type(1){
        display: block;
        font-size: 14px;
        text-align: right;
        color: #FFF;
        margin-bottom: 30px;

        &:hover{
            color: #FF5454;
            text-decoration: underline;
        }
    }

    >a{
        display: block;
        border-radius: 20px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    >p{
        position: relative;
        display: block;
        color: #fff;
        margin-bottom: 30px;

        &::before,&::after{
            content: "";
            display: block;
            position: absolute;
            width: calc(50% - 60px);
            height: 1px;
            background-color: #fff;
            top: 50%;
        }

        &::before{
            right: 0;
        }
    }
}

.loginInput{
    width: calc(100% - 50px);
    border-radius: 20px;
    font-size: $font-18px;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    padding: 0px 10px;
}

.otherLogin{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    li{
        width: calc((100% - 30px) / 3.001);
        padding: 10px 10px 10px 20px;
        border-radius: 5px;
        cursor: pointer;

        @media screen and (min-width:460px){
            padding-left: 34px;
        }

        span{
            position: relative;
            font-size: $font-14px;

            @media screen and (min-width:460px){
                font-size: 100%;
            }

            &::after{
                content: "";
                display: block;
                position: absolute;
                width: 15px;
                height: 15px;
                left: -16px;
                top: 50%;
                transform: translateY(-50%);
                background-size: cover;

                @media screen and (min-width:460px){
                    font-size: 100%;
                    width: 24px;
                    height: 24px;
                    left: -28px;
                }
            }
        }

        &:nth-child(1) span::after{
            background-image: url("../images/Facebook.png");
        }

        &:nth-child(2) span::after{
            background-image: url("../images/google.png");
        }

        &:nth-child(3) span::after{
            background-image: url("../images/apple.png");
        }
    }
    
}

footer{
    background-color: #fff;
    box-shadow: 0 -4px 4px rgba(0, 0, 0,0.05);
    z-index: 1;

    .container{
        text-align: center;
        padding: 20px;
        margin: 0 auto; 

        @media screen and (min-width:768px){
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
        }
    }

    .logo{
        display: block;
        
        a{
            margin-right: 0;
        }
    }

    .logo,.connectionInfo{
        margin-bottom: 10px;

        @media screen and (min-width:768px){
            margin-bottom: 0;
        }

    }

    .connectionInfo{
        a{
            display: block;
            color:#868686;
            text-align: center;
        }
    }
}

