$primary-color: #FFC940;
$font-14px:87.5%;
$font-18px:112.5%;
$font-20px:125%;
$font-24px:150%;
$font-30px:187.5%;
$font-40px:250%;
$font-50px:312.5%;
$font-60px:375%;

#orderwrap{
    margin: 0 auto;
    padding: 170px 10px;

    h2{
        color: #5B8600;
        font-size: 40px;
        line-height: 50px;
        border-left: 10px solid #5B8600;
        padding-left: 15px;
        margin-bottom: 30px;
    }

    .store{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: -3px -3px 3px rgb(255 255 221 / 25%), 3px 3px 3px rgb(194 194 194 / 25%);
    }
}

.mealwrap{
    display: flex;
    width: 100%;

    @media screen and (min-width:768px){
        width: calc(100% - 240px);
    }

    .imgwrap{
        display: none;
        
        @media screen and (min-width:370px){
            display: block;
            width: 100%;
            max-width: 235px;
            height: auto;
            background-image: url(../public/images/store3.jpg);
            background-position: center;
        }

        &::after, &::before{
            display: none;
        }
    }

    p{
        color: #99B55F;
        font-size: $font-14px;

        a{
            color: #EB5757;
        }
    }
}

.storeInfo{
    padding: 35px 20px 60px;

    @media screen and (min-width:768px){
        padding: 35px 40px;
    }


    .title{
        margin-bottom: 20px;

        h4{
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 0;
        }

        .scoreLike{
            display: inline-block;
            padding: 0;
            top: -4px;

            &::after{
                top: 50%;
                left: 55px;
                right: auto;
            }
        }
    }

    >p{
        margin-bottom: 20px;
    }
}

.meallist{
    display: flex;
    flex-wrap: wrap;

    li{
        position: relative;
        padding-left: 40px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    span{
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: #FFE3B4;
        border-radius: 100%;
        color:#CA6100;
        font-size: $font-14px;
        text-align: center;
        line-height: 25px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.buttongroup{
    position: absolute;
    padding: 0 10px;
    right: 10px;
    bottom: 20px;

    @media screen and (min-width:768px){
        position: static;
        padding: 0 40px;
    }

    button{
        background-color: #FFB240;
        color:#fff;
        letter-spacing: 2px;
        font-size: $font-20px;
        border: 0;
        border-radius: 10px;
        padding: 5px 10px;
        box-shadow: -3px -3px 3px rgb(255 255 221 / 25%), 3px 3px 3px rgb(194 194 194 / 25%);
    
        @media screen and (min-width:768px){
            font-size: $font-24px;
            padding: 5px 20px;
        }
        
        &:hover{
            box-shadow: inset -3px -3px 3px rgba(255, 215, 75, .75),inset 3px 3px 3px rgba(237, 172, 76);
        }
    }
}

footer{
    @media screen and(min-width: 768px){
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
    }
}