$primary-color: rgb(255, 169, 71);
$background:#fff;
$white:#fff;
$brown: rgb(104, 71, 27);

*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1140px;
}

.img-fluid{
    width: 100%;
}

body{
    background-color: $background;
}

header{
    background-color: $primary-color;
    padding: 20px 10px 0px;
}

header>div{
    margin: 0 auto;

    h1{
        margin-bottom: 15px;

        a{
            color: $brown;
        }
    }
}

#top-nav>ul{
    display: flex;

    >li{
        position: relative;
        width: calc(100% / 7);
        text-align: center;
        
    
        &+li{
            margin-left:10px;
        }
        
        a{
            line-height: 50px;
            color: $white;
            font-size: 1.2em;
            letter-spacing: 3px;
        }

        &:hover{
            background-color: $brown;
            border-radius: 10px 10px 0 0;
        }
    }
}

.inside-nav{
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: rgb(158, 105, 35);
    z-index: 1;
}

.nav-li{
    z-index: 2;
    &:after{
        content:"";
        position: absolute;
        display: none;
        border: 15px solid ;
        border-color: $brown transparent transparent transparent;
        top:auto;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    &:hover{
        box-shadow: 0px 5px 10px rgb(75, 75, 75,0.3);

        &:after, .inside-nav{
            display: block;
        }
    }

    ul{
        padding: 15px 0 10px;
        border-radius: 0 0 10px 10px;
    }
}

.product{
    margin:0 auto;
    padding: 50px 0;

    >h2{
        text-align: center;
        color: $brown;
        letter-spacing: 3px;
        font-size: 2em;
        padding-bottom: 30px;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-4{
    width: calc((100% - 40px) / 3);
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px rgb(161, 161, 161), -3px -3px 5px rgb(220, 236, 236);

    img{
        margin-bottom: 10px;
    }

    p:first-of-type{
        padding-bottom: 10px;
        font-size: 1.2em
    }

    p{
        padding-left: 15px;
    }

    a{
        color: $brown;
    }

    &:nth-child(4), &:nth-child(5), &:nth-child(6){
        margin-bottom: 0;
    }
}

