$primary-color: rgb(255, 169, 71);
$background:#fff;
$white:#fff;
$brown: rgb(104, 71, 27);

*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1140px;
}

.imgFluid{
    width: 100%;
    display: block;
}

.productRadius{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(224, 224, 224, 0.5), -2px -2px 5px rgb(209, 230, 230);
}

.imgHidden{
    overflow: hidden;
}

.imgScale{
    transition: all 0.5s;
    &:hover{
        transform: scale(1.2);
        opacity: 0.8;
    }
}

.aButton{
    display: block;
    width: 100%;
    height: auto;
}

body{
    background-color: $background;
}

header{
    background-color: $primary-color;
    padding: 20px 0;

    @media screen and (min-width:768px){
        padding: 20px 10px 0px;
    }
}

header>div{
    margin: 0 auto;
}

.nav-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;


    @media screen and (min-width:768px){
        padding: 0;
        margin-bottom: 15px;
    }

    >h1{
        >a{
            color: $brown;
        }
    }
}

.icon-menu{
    position: relative;
    width: 15%;
    background-color: $brown;
    color:blue;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #926718bb, -2px -2px 3px #fcb93cbb;
    

    @media screen and (min-width:768px) {
        display: none;
    }
}

.burger{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top-nav{
    display: none;

    @media screen and (min-width:768px){
        display: block;
    }

    &.active{
        display: block;
    }
}

#top-nav>ul{
    display: flex;
    flex-wrap: wrap;


    >li{
        position: relative;
        width: 100%;   

        @media screen and (min-width:768px) {
            width: calc(100% / 7);
            text-align: center;
        }
        
        a{
            line-height: 50px;
            color: $white;
            font-size: 1.2em;
            letter-spacing: 3px;  
            padding: 0 10px;

            @media screen and (min-width:768px) {
                
                padding: 0;          
            }
        }

        &:hover{
            background-color: $brown;

            @media screen and (min-width:768px) {
                border-radius: 10px 10px 0 0;
            }
        }
    }
}

.inside-nav{
    display: none;
    width: 100%;
    background-color: rgb(158, 105, 35);
    z-index: 1;
    
    overflow: hidden;

    @media screen and (min-width:768px){
        position: absolute;
        top: 100%;
        left: 0;
        border-radius: 0 0 10px 10px;
    }

    li{

        &:hover{
            background-color: $brown;
        }
    }
}

.nav-li{
    z-index: 2;
    &:after{
        content:"";
        position: absolute;

        @media screen and (min-width:768px){
            display: none;
            border: 7px solid ;
            border-color: $brown transparent transparent transparent;
            top:auto;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;   
        }
    }

    &:hover{
        box-shadow: 0px 5px 10px rgb(75, 75, 75,0.3);

        &:after, .inside-nav{
            display: block;
        }
    }
}

.product{
    margin:0 auto;
    padding: 20px 15px;

    @media screen and (min-width:768px){
        padding-left: 0;
        padding-right: 0;
        padding: 50px 15px;
    }

    >h2{
        text-align: center;
        color: $brown;
        letter-spacing: 3px;
        font-size: 2em;
        padding-bottom: 30px;
    }
}

.row-even{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col{
    padding-bottom: 20px;
    margin-bottom: 20px;

    > a{
        display: block;
        margin-bottom: 10px;
    }

    p:first-of-type{
        padding-bottom: 10px;
        font-size: 1.2em;

        > a{
            color: $brown;
        }
    }

    p{
        padding-left: 15px;
    }

    
}



.row-odd{
    display: flex;
    flex-wrap: wrap;
}


footer{
    background-color: $brown;

    >div{
        margin: 0 auto;
        padding: 50px 0;
        
        >div{
            margin-bottom: 30px;
        }
    }

    p{
        text-align: center;
        color:$white; 
    }
}

.footer-list{
    width: calc((100% - 80px) / 5);

    dt{
        text-align: center;
        color: $white;
        line-height: 30px;
    }

    dd{
        text-align: center;

        a{
            color: rgb(255, 255, 255,0.5);
            line-height: 30px;
        }
    }
}

.porductList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.breadcrumb{
    margin-bottom: 20px;

    a,span{
        color: #696969;
        font-size: 0.8em;
    }

    a:hover{
        color: $brown;
    }
}

.leftTool{
    text-align: center;
}

.leatToolLi{
    border-radius: 5px;
    background-color: $brown;
    line-height: 35px;
    margin-bottom: 10px;

    &:hover{
        background-color: $primary-color;
    }

    a{
        color: $white;
    }
}

.rightTool{

    h2{
        font-size: 1.8em;
        color: $brown;
        margin-bottom:20px;
    }

    h6{
        font-size: 1.1em;
        font-weight: 400;
        color:$brown;
        padding-left: 15px;
    }
}

.new{
    position: relative;

    .stick{
        position: absolute;
        background-color: $primary-color;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        top:10px;
        left: 10px;
        box-shadow:2px 2px 5px rgba(105, 105, 105, 0.8);
        z-index: 1;

        &:after{
            content: "new";
            display: block;
            position: absolute;
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

// scss for迴圈練習
// $i = index
//from through 從1~3

@for $i from 1 through 3{
    .fz-#{$i}{
        font-size: $i*1em;
    }
}

@for $col from 1 through 12{
    .col-#{$col}{
        --num: calc(12 / #{$col});
        width: calc(100% / var(--num));
    }
}

@media screen and (min-width:768px){
    @for $col from 1 through 12{
        .col-md-#{$col}{
            --num: calc(12 / #{$col});
            width: calc(100% / var(--num) - 30px);
            margin:0 15px 20px;
        }
    }  
}

@media screen and (min-width: 1200px){
    @for $col from 1 through 12{
        .col-lg-#{$col}{
            --num: calc(12 / #{$col});
            width: calc(100% / var(--num) - 30px);
            margin:0 15px 20px;
        }
    }
}