#orderwrap {
  margin: 0 auto;
  padding: 170px 10px;
}
#orderwrap h2 {
  color: #5B8600;
  font-size: 40px;
  line-height: 50px;
  border-left: 10px solid #5B8600;
  padding-left: 15px;
  margin-bottom: 30px;
}
#orderwrap .store {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -3px -3px 3px rgba(255, 255, 221, 0.25), 3px 3px 3px rgba(194, 194, 194, 0.25);
}

.mealwrap {
  display: flex;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mealwrap {
    width: calc(100% - 240px);
  }
}
.mealwrap .imgwrap {
  display: none;
}
@media screen and (min-width: 370px) {
  .mealwrap .imgwrap {
    display: block;
    width: 100%;
    max-width: 235px;
    height: auto;
    background-image: url(../public/images/store3.jpg);
    background-position: center;
  }
}
.mealwrap .imgwrap::after, .mealwrap .imgwrap::before {
  display: none;
}
.mealwrap p {
  color: #99B55F;
  font-size: 87.5%;
}
.mealwrap p a {
  color: #EB5757;
}

.storeInfo {
  padding: 35px 20px 60px;
}
@media screen and (min-width: 768px) {
  .storeInfo {
    padding: 35px 40px;
  }
}
.storeInfo .title {
  margin-bottom: 20px;
}
.storeInfo .title h4 {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;
}
.storeInfo .title .scoreLike {
  display: inline-block;
  padding: 0;
  top: -4px;
}
.storeInfo .title .scoreLike::after {
  top: 50%;
  left: 55px;
  right: auto;
}
.storeInfo > p {
  margin-bottom: 20px;
}

.meallist {
  display: flex;
  flex-wrap: wrap;
}
.meallist li {
  position: relative;
  padding-left: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.meallist span {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #FFE3B4;
  border-radius: 100%;
  color: #CA6100;
  font-size: 87.5%;
  text-align: center;
  line-height: 25px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.buttongroup {
  position: absolute;
  padding: 0 10px;
  right: 10px;
  bottom: 20px;
}
@media screen and (min-width: 768px) {
  .buttongroup {
    position: static;
    padding: 0 40px;
  }
}
.buttongroup button {
  background-color: #FFB240;
  color: #fff;
  letter-spacing: 2px;
  font-size: 125%;
  border: 0;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: -3px -3px 3px rgba(255, 255, 221, 0.25), 3px 3px 3px rgba(194, 194, 194, 0.25);
}
@media screen and (min-width: 768px) {
  .buttongroup button {
    font-size: 150%;
    padding: 5px 20px;
  }
}
.buttongroup button:hover {
  box-shadow: inset -3px -3px 3px rgba(255, 215, 75, 0.75), inset 3px 3px 3px #edac4c;
}

@media screen and (min-width: 768px) {
  footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }
}