#registerwrap {
  max-width: 570px;
  margin: 0 auto;
  padding: 170px 10px;
}

.stepwrap {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 70px;
}

.step {
  position: relative;
  width: 54px;
  height: 54px;
  background-color: #fff;
  border: 2px solid #BDBDBD;
  border-radius: 100%;
}
@media screen and (min-width: 570px) {
  .step {
    width: 64px;
    height: 64px;
  }
}
.step.active {
  background-color: #6CBE83;
  border: none;
}
.step.active span:nth-of-type(1) {
  color: #fff;
}
.step.active span:nth-of-type(2) {
  color: #6CBE83;
}
.step span {
  color: #BDBDBD;
}
.step span:nth-of-type(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step span:nth-of-type(2) {
  position: relative;
  display: block;
  width: calc(100% + 25px);
  font-size: 75%;
  text-align: center;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 570px) {
  .step span:nth-of-type(2) {
    font-size: 87.5%;
  }
}

.register {
  background-color: #F9F5E6;
  border-radius: 20px;
  color: #CA6100;
  text-align: center;
  padding: 50px 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 460px) {
  .register {
    padding: 50px 50px;
  }
}
.register p {
  font-size: 87.5%;
}
.register p a {
  color: #EB5757;
  font-weight: bold;
}
.register > div {
  min-height: 430px;
  justify-content: space-between;
  flex-direction: column;
}
.register > div input[type=text] {
  font-weight: bold;
}
.register > div > a, .register > div > button {
  display: block;
  width: 100%;
  font-size: 112.5%;
  letter-spacing: 2px;
  line-height: 30px;
  border: none;
  border-radius: 30px;
  padding: 5px 0;
  margin-bottom: 30px;
  cursor: pointer;
}
.register > div > a:hover, .register > div > button:hover {
  box-shadow: inset -3px -3px 3px rgba(255, 215, 75, 0.75), inset 3px 3px 3px #edac4c;
}

#registerWay {
  display: none;
}
#registerWay.active {
  display: flex;
}
#registerWay h2 {
  margin-bottom: 20px;
}
#registerWay input {
  background-color: #FFEDD1;
  width: 100%;
  line-height: 30px;
  font-size: 112.5%;
  text-align: center;
  border-radius: 30px;
  padding: 5px 20px;
  margin-bottom: 20px;
}
#registerWay > span {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
#registerWay > span::before, #registerWay > span::after {
  content: "";
  position: absolute;
  display: block;
  width: calc(50% - 30px);
  height: 1px;
  background-color: #CA6100;
  top: 50%;
  transform: translateY(-50%);
}
#registerWay > span::before {
  left: 0;
}
#registerWay > span::after {
  right: 0;
}
#registerWay .otherLogin > li {
  background-color: #fff;
}
#registerWay p:nth-of-type(1) {
  margin-bottom: 20px;
}

#verification {
  display: none;
}
#verification.active {
  display: flex;
}
#verification h2 {
  margin-bottom: 40px;
}
#verification .code {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
#verification .code input {
  width: calc((100% - 60px) / 4);
  background-color: #FFEDD1;
  border-radius: 20px;
  font-size: 375%;
  text-align: center;
  padding: 20px 0;
}
#verification p {
  margin-bottom: 40px;
}

#registerPassword {
  display: none;
}
#registerPassword.active {
  display: flex;
}
#registerPassword h2 {
  margin-bottom: 20px;
}
#registerPassword input {
  width: 100%;
  background-color: #FFEDD1;
  border-radius: 20px;
  font-size: 112.5%;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 20px;
}
#registerPassword button:nth-of-type(1) {
  width: fit-content;
  font-size: 87.5%;
  letter-spacing: 2px;
  line-height: normal;
  padding: 5px 12px;
  margin: 0 auto;
}
#registerPassword button:nth-of-type(2) {
  margin-top: 60px;
}

#registerSuccess {
  display: none;
  align-items: center;
}
#registerSuccess.active {
  display: flex;
}
#registerSuccess h2 {
  color: #6CBE83;
  margin-bottom: 30px;
}
#registerSuccess .successIcon {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: #6CBE83;
  box-shadow: 5px 5px 5px rgba(194, 194, 194, 0.3);
  border-radius: 100%;
}
#registerSuccess .successIcon::before {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 50px;
  border-left: 10px solid #fff;
  border-bottom: 10px solid #fff;
  top: 20%;
  left: 55%;
  transform: rotate(-45deg) translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }
}