doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title SEE-FOOD|嚴選產品
    link(rel='stylesheet' href='public/css/style.css')
  body
    // header>.container>h1{伯朗咖啡}+nav>ul>li*4>a[href="#"]{文字}
    header
      .container
        .nav-logo
          h1 
              a(href='index.html') SEE-FOOD
          a.icon-menu(href="#")
            .burger
          nav#top-nav
            ul
              li.nav-li
                a.aButton(href='#') 最新消息
                ul.inside-nav
                  li
                    a.aButton(href='../news.html') 最新消息
                  li
                    a.aButton(href='#') 門市資訊
              li.nav-li
                a.aButton(href='#') 門市資訊
                ul.inside-nav
                  li
                    a.aButton(href='#') 最新消息
                  li
                    a.aButton(href='#') 門市資訊
              li
                a.aButton(href='../product_list.html') 嚴選商品
              li
                a.aButton(href='#') 咖啡豆專區
              li
                a.aButton(href='#') 伯郎卡
              li
                a.aButton(href='#') 伯朗講堂
              li
                a.aButton(href='#') 線上購物
    //
      .container>h1{商品列表}+.row>.col-md-4*7>a>img[src="https://baconmockup.com/300/300"
      class="imgFluid img-rounded"]^p.title.text-center>a{作品標題$}^p.date.text-center{2022-6-15}
    main.news.container
        .breadcrumb
            a(href='#') 首頁
            span >
            a(href='#') 嚴選產品
        .postList
            .post
                .imgWrap.col-12.col-md-6.productRadius
                    img(src="public/images/coffee01.jpg", alt="").imgFluid
                .postInfo.col-12.col-md-6
                    h6 美式咖啡
                    p 美國咖啡豆
                    p 美味好喝
                    p 美式苦澀
            .post
                .imgWrap.col-12.col-md-6.productRadius
                    img(src="public/images/coffee02.jpg", alt="").imgFluid
                .postInfo.col-12.col-md-6
                    h6 拿鐵咖啡
                    p 非洲咖啡豆
                    p 牛奶濃醇
                    p 咖啡香醇
            .post
                .imgWrap.col-12.col-md-6.productRadius
                    img(src="public/images/coffee03.jpg", alt="").imgFluid
                .postInfo.col-12.col-md-6
                    h6 濃縮咖啡
                    p 歐洲咖啡豆
                    p 加倍咖啡
                    p 加倍苦澀
    // footer>.container>.row-even>dl.col-3*5>dt{標題$$}+dd*4>a{項目$$}^^^p.copyright.text-center{copyright}
    footer
      .container
        .row-even
          dl.footer-list
            dt 標題01
            dd
              a(href='') 項目01
            dd
              a(href='') 項目02
            dd
              a(href='') 項目03
            dd
              a(href='') 項目04
          dl.footer-list
            dt 標題02
            dd
              a(href='') 項目01
            dd
              a(href='') 項目02
            dd
              a(href='') 項目03
            dd
              a(href='') 項目04
          dl.footer-list
            dt 標題03
            dd
              a(href='') 項目01
            dd
              a(href='') 項目02
            dd
              a(href='') 項目03
            dd
              a(href='') 項目04
          dl.footer-list
            dt 標題04
            dd
              a(href='') 項目01
            dd
              a(href='') 項目02
            dd
              a(href='') 項目03
            dd
              a(href='') 項目04
          dl.footer-list
            dt 標題05
            dd
              a(href='') 項目01
            dd
              a(href='') 項目02
            dd
              a(href='') 項目03
            dd
              a(href='') 項目04
        p.copyright.text-center copyright
