doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title SEE-FOOD|註冊
  link(rel="shortcut icon", href="../public/images/logo.ico", type="image/x-icon")
  link(rel='stylesheet' href='public/css/main.css')
  link(rel='stylesheet' href='public/css/register.css')
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src="../public/js/main.js")
  script(src="../public/js/register.js")

body 
  header
    nav#navbar.container
      a(href="seefood.html").logo
        img(src="../public/images/logo.svg", alt="logo")
        img(src="../public/images/SEEFOOD.svg", alt="logoText")
      div#navbarRight.col-10.col-lg-8
        div
          input(type="text" placeholder="請輸入地址")#address.lightInput.inputYellow
        div  
          input(type="text" placeholder="搜尋店家")#search.lightInput.inputYellow
        ul.buttonList
          li 
            a(href="#")#loginBtn.button.lightYellowShadow 登入
          li 
            a(href="../register.html")#registerbBtn.button.lightYellowShadow 註冊
          li 
            a(href="#")#burger.lightYellowShadow
    section#sideMenu 
      .close
      .imgwrap.imgHidden
        img(src="../public/images/headshot.png", alt="headshot")
      div.listwrap
        div.inputwrap.sm-block
          input(type="text" placeholder="請輸入地址")#menuaddress.greenInput
        div.inputwrap.sm-block
          input(type="text" placeholder="搜尋店家")#menusearch.greenInput
        ul.sideList
          li#sideListLogin.sm-block
            a(href="#") 登入
          li.sm-block
            a(href="../register.html") 註冊
          li 
            a(href="#") 我的最愛
          li 
            a(href="#") 歷史訂單
          li 
            a(href="#") 付款方式
          li 
            a(href="../faq.html") 幫助
    section#login
      div.loginPopup.lightYellowShadow
        .close
        h2 會員登入
        div
          label(for="account") 帳號:
          input(type="text")#account.lightInput.loginInput.inputYellow
        div
          label(for="account") 密碼:
          input(type="text")#password.lightInput.loginInput.inputYellow
        a(href="#")  忘記密碼
        a(href="#").button.lightYellowShadow 登入
        p 其他登入/註冊
        ul.otherLogin
          li.lightYellowShadow 
            span Facebook
          li.lightYellowShadow 
            span Google
          li.lightYellowShadow 
            span Apple
        a(href="#").button.lightYellowShadow 立即註冊
  section#registerwrap 
    ul.stepwrap
        li.step.active
            span 1
            span 選擇註冊方式
        li.step
            span 2
            span 輸入驗證碼
        li.step
            span 3
            span 設定密碼
        li.step
            span 4
            span 完成註冊
    .register
        #registerWay.active 
            h2 請輸入電話號碼
            input(type="text" placeholder="請輸入電話號碼").skinDownShadow.inputYellow
            button(data-step="#verification").skinUpShadow.skinButton.registerNext  下一步 
            span 或
            ul.otherLogin
                li.skinUpShadow 
                    span Facebook
                li.skinUpShadow 
                    span Google
                li.skinUpShadow 
                    span Apple
            p 點擊「下一步」或繼續註冊，即表示您已閱讀並同意 
                br
                a(href="") 服務條款
                |或
                a(href="") 隱私權政策
            p 已經有帳號了嗎?
                a(href="") 登入 
        #verification 
            h2 請輸入四位數驗證碼
            .code
                input(type="text").skinDownShadow.inputYellow
                input(type="text").skinDownShadow.inputYellow
                input(type="text").skinDownShadow.inputYellow
                input(type="text").skinDownShadow.inputYellow
            button(data-step="#registerPassword").skinUpShadow.skinButton.registerNext 認證
            p 已經有帳號了嗎?
                a(href="") 重新寄送驗證碼 
        #registerPassword
            h2 請輸入密碼
            input(type="password").skinDownShadow.inputYellow
            h2 確認密碼
            input(type="password").skinDownShadow.inputYellow
            button.skinUpShadow.skinButton 查看密碼
            button(data-step="#registerSuccess").skinUpShadow.skinButton.registerNext 確認
        #registerSuccess
            .success
                h2 會員註冊完成
                .successIcon
            a(href="../seefood.html").skinUpShadow.skinButton.registerclose 完成

  footer 
    .container
      a(href="seefood.html").logo
          img(src="../public/images/logo.svg", alt="logo")
          img(src="../public/images/SEEFOOD.svg", alt="logoText")
      div.connectionInfo 
        a(href="") 地址:台中市西區英才路40號
        a(href="") 聯絡電話:03-5512225
      div 
        img(src="../public/images/Facebook.svg", alt="Facebook")
        img(src="../public/images/Instagram.svg", alt="Facebook")
